// inicio header
$color-fondo-slider-2: linear-gradient(120deg, #ff7e75, #ff9988, #a91f56);
$color-texto-slider-1: #484848;	
$color-p-slider-1: #7D7D7D;
$color-facebook-btn: #3B5998;
$color-hover-btn-facebook: #4568b2;
$color-blanco: #fff;
$color-sesion-btn: #ac2925;
$color-hover-btn-sesion: #d9534f;
$margin-top-slider: 2%;
$border-btn: 1px solid #DCE0D0;

//fin header