/***VARIABLES***/
$color-blanco: #fff;
$bg-verde: #00A699;
$color-footer: #DCE0E0;
$ancor-footer: #767676;
$ancor-footer-hover: #09888F;

/****MIXIN****/
@mixin flotar($direc){
	float: $direc;
	cursor: pointer;
	top: 190px;
	font-size: 2em;
}
/**************/
.scroll-gal {
  .viewport {
    position: relative;
    height: 450px;
    overflow: hidden;
    ul{
      position: absolute;
      width: 2000%;

      li{
        float: left;
        text-align: center;
        margin-right: 20px;
        list-style: none;

        a{
          color: $color-blanco;
          img{
            display: block;
          }
        }
        p{margin-top: 10px;}
      }
    }
    

  }
}
.scroll-gal .move-left,
.scroll-gal .move-right {
  margin-top: 30px;
  cursor: pointer;
  width: 100px;
  height: 300px;
}
.scroll-gal .move-left {
  background-position: -26px -188px;
}
.f-lft {
  @include flotar(left)
}
.f-rgt {
  @include flotar(right)
}
.clr {
  clear: both;
}
.lsn {
  list-style: none;
  margin: 0;
  padding: 0;
}
#footBorder{
	border-top: 1px solid $color-footer;
	padding-top: 40px;
  #footBottom{
    border-bottom: 1px solid $color-footer;
    padding-bottom: 40px;
    margin-bottom: 20px;
    h4{
      font-weight: bold;
    }
  }
  #brand{
    height: 30px;
    width: 30px;  
    float: left;
  }
  .footer__margin{
    margin-left: 10px;
  }
  a{
    text-decoration: none;
    color: $ancor-footer;
    &:hover{
      text-decoration: none;
      color: $ancor-footer-hover;
    }
  }
  li{list-style: none;}
}
