/****VARIABLES****/
$color-border: #dce0e0;

/****MIXIN****/
@mixin search-borde($tam, $color, $tam-r){
	border: $tam solid $color;
	border-radius: $tam-r;
	display: flex;
}
@mixin search-menu($p1, $p2, $p3){
	display: inline-block;
	padding: 15px 16px 8px;
	width: 33%;
}
/*********************************/
.search__container{
	@include search-borde(1px, $color-border, 5px);
}
.search__place, .search__date, .search__go{
	@include search-menu(15px, 16px, 8px);
}
.search__btn{
	background-color: #FF5A5F;
	color: #fff;
}

