@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import "_variables";
@import "_mixins";

//inicio header
* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.header__logo {
	width: 1.8em;
}

.header__menu {
	border: none;
    box-shadow: none;
    background: transparent;
}

.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text{
	color:$color-texto-slider-1;
}

.header__img_slider { 
	width: 100%;
}

.header__text {
	top: 7rem;
    left: 15rem;
	position: absolute;
	color: $color-texto-slider-1;

	h1 {
		font-size: 3.2em;
	    font-weight: bolder;
	}

	p {
		font-size: 1.2em;
	    font-family: sans-serif;
	    color: $color-p-slider-1;	
	    margin-top: $margin-top-slider;
	}

	a {
	    padding: 0.8%;
	    border-radius: 25px;
	    display: inline-block;
		border: 2px solid #ccc;
	    color: $color-texto-slider-1;
	    margin-top: $margin-top-slider;
	}

	a:link {
		text-decoration: none;
	}
	
}

#modal__border{
	width: 400px;
	height: 450px;
	padding: 4%;
}
#button_fb_width{
	width: 100%;
	background-color: #3B5998;
	height: 60px;
	margin-bottom: 7px;
}
#button_fb_width:hover{
	background-color: #4568b2;
}
#google_imagen{
	width: 20px;
	height: 20px;
}
#button_gl_width{
	width: 100%;
	height: 50px;
}
#input__border{
	border:1px solid #AAAAAA;
	border-radius: 3px;
	margin-top: 7px;
	margin-bottom: 7px;
}
#input__place{
	border:none;
	height: 60px;
}
#btn__border{
	border:none;
}
#button_is_width{
	width: 100%;
	height: 60px;	
}
#border__top{
	border-top: 1px solid #DCE0D0;
	margin-top: 10px;
	padding-top: 10px;
}
#raya__uno{
	border:1px solid #DCE0D0;
	width: 45%;
	float: left;
	margin-top: 8px;
	margin-right: 10px;
}
#raya__dos{
	border:1px solid #DCE0D0;
	width: 45%;
	margin-top: 8px;
	float: right;
}




//fin header