@import 'variables';
body{
	box-sizing:border-box;
}
header{
	height:61px;
	display:block;
	.row {
		border: 1px solid gray;
		margin:0;
		.logo{
			border-right:1px solid gray;
			float: left;
			width:68px;
			img{
				max-width: 100%;
				padding: 27%;		
			}
		}
		.search{
			padding:20px;
			input{
				border:0;
			}
		}
		.menu{
			padding-top:20px;
			float: right;
			padding-right:0;
			padding-left: 0;
			ul{
				list-style: none;
			}
		}
	}
}
section{
	margin-top:1%;
	.filter{
		padding:1%;
	}
	.date{
		input{
			width: 100%;
			padding:2%
		}
	}
	.room{
		div:nth-child(n+2){
			background-color: $block-gray;
			margin: 1%;
			padding:2%;
			input{
				padding:2%;
			}
		}
	}
}
